NODE_ENV=development

APP_PORT=4000

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=database
POSTGRES_PORT=5432

JWT_SECRET=supersecretjwtkey_changeme_in_production

REDIS_HOST=localhost
REDIS_PORT=6379